* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

body {
  background-color: #1f2937;

}

.header {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-h1 {
  color: #f9faf8;
  padding-left: 10px;
}

.header > .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: nowrap;
  margin: 0;
  padding: 12px 12px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-list > a {
  text-decoration: none;
  color: #f9faf8;
  font-size: 24px;
  font-weight: 400;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section-one {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.section-one-h2 {
  color: #f9faf8;
}

img {
  height: 400px;
}

.section-two {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.section-two-card {
  width: 200px;
  height: 200px;
}

.section-two {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9faf8;
}

.section-two-body {
  background-color: #f9faf8;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 48px;
}

.section-two-card {
  width: auto;
  height: auto;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.section-two-img {
  background-color: #f9faf8;
  width: 200px;
  height: 200px;
  border: 2px solid #3882fc;
  border-radius: 10px;
  margin: 40px 0;
}
